<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  
<mapper namespace="cplist">
	

	 <select id="alllist" resultType="cpvo">
		select cpname, cpnum, cpapl, ratnum , yearmoney, cprel, cpmajor, cpceo, cpphone, ceomail, cploc, cpagree, cparrears
		from cplist
	</select> 
	
	<insert id="addcplist" parameterType="cpvo">
		insert into cplist values(#{cpnum},#{cpname},#{cploc},#{keyword},#{cplink})
	</insert>
	
	<insert id="addcplist2" parameterType="cpvo">
		insert into cplist values(#{cpnum},#{cpname},#{cploc},'none','null',#{ceomail},'none',#{cpapl},#{ratnum},#{yearmoney},#{cprel},#{cpmajor},#{cpceo},#{cpphone},#{cpagree},#{cparrears})
	</insert>
</mapper>